{% extends "layout.html" %}

{% block content %}
    <div class="d-flex flex-column pt-3">
        <p class="fw-bold fs-5">Ayúdanos a mejorar</p>
        <p>Queremos leer tus comentarios sobre nuestro sítio para poder mejorar la experiencia de usuario.</p>
        <form class="form-formulario d-flex flex-column" id="formulario" action="{{ url_for('contacto') }}" method="#">
            <textarea placeholder="Escribe tu comentario aquí (*)" id="message"></textarea>
            <input type="submit" id="boton-enviar" value="Enviar"></button>
            <span>(*) No incluyas datos personales de ningún tipo en este formulario</span>
            <br>
            <span>Los comentarios enviados por este medio serán utilizados para mejorar nuestro servicio. Al hacer click en "Enviar" aceptas nuestra <a href="#">Política de privacidad</a></span>
            <p id="error-message"></p>
        </form>
    </div>
{% endblock %}
    
{% block scripts %}
    <script src="../static/js/validacion_contacto.js"></script>
{% endblock %}

{% block style %}
    <style>
        body {
            height: 100vh;
            display: flex;
            flex-direction: column;
        }

        main {
            flex: 1;
        }

        #formulario {
            width: 95%;
        }

        form {
            box-shadow: none;
        }

        main {
            display: flex;
            justify-content: center;
        }

        main > div {
            width: 60%;
        }

        span {
            font-size: smaller;
        }

        input[type="submit"] {
            background-color: #0B4A4A;
            border: none;
            padding: 10px;
            border-radius: 10px;
            cursor: pointer;
            margin: 10px auto;
            color: #fff;
            font-weight: bold;
            margin-left: 0;
        }
    </style>
{% endblock %}