{% extends "layout.html" %}

{% block content %}
    <div class="d-flex justify-content-center py-5">
        <form id="receta-form" method="POST" action="/crear-receta" enctype="multipart/form-data">
            <p class="text-center fw-bold fs-3">Crear receta</p>
            <p class="text-center fs-6">Completa todos los campos para crear una receta</p>
            <div class="form-group">
                <input type="text" id="nombre_receta" name="nombre_receta" placeholder="Ingresa el título de la receta" required>
            </div>
            <div class="form-group">
                <textarea id="descripcion" name="descripcion" placeholder="Añade algún comentario sobre esta receta" required></textarea>
            </div>
            <div class="form-group">
                <select id="categoria" name="categoria" required>
                    <option value="" disabled selected>Selecciona una categoría</option>
                    <option value="veggie">Comida vegetariana</option>
                    <option value="postres">Postres</option>
                    <option value="horno">Recetas de horno</option>
                </select>
            </div>

            <div class="form-group file-upload">
                <label for="ruta_imagen">Agrega una imagen del plato terminado</label>
                <input type="file" id="ruta_imagen" name="ruta_imagen" accept="image/*">
            </div>
            <input class="boton-crear" type="submit" value="Crear receta">
            <div id="flash-message"></div>
        </form>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        document.getElementById('receta-form').addEventListener('submit', function(event) {
            event.preventDefault(); // Evita el envío tradicional del formulario

            const formData = new FormData(this); // Obtiene los datos del formulario

            fetch('/crear-receta', {
                method: 'POST',
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                if (data.error) {
                    document.getElementById('flash-message').textContent = data.error;
                    document.getElementById('flash-message').classList.add('alert', 'alert-error');
                } else {
                    window.location.href = data.redirect; 
                }
            });
        });
    </script>
{% endblock %}

{% block style %}
    <style>
        body {
            display: flex;
            flex-direction: column;
            height: 100vh;
        }

        main {
            flex: 1;
        }

        .login {
            display: flex;
            justify-content: center;
            flex-direction: column;
            padding: 3rem 0;
        }

        #flash-message {
            width: 80%;
            margin: 0 auto;
            padding: 15px;
            margin-bottom: 20px;
            border: 1px solid transparent;
            border-radius: 4px;
        }

        .alert-error {
            color: #a94442; /* Color de texto rojo */
            background-color: #f2dede; /* Fondo rosa claro */
            border-color: #ebccd1;
        }

        .alert-success {
            color: #3c763d; /* Color de texto verde */
            background-color: #dff0d8; /* Fondo verde claro */
            border-color: #d6e9c6;
        }

        form {
            background-color: #fc92dc;
            box-shadow: none;
            width: 75%;
            padding: 10px;
            border-radius: 10px;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            flex-direction: column;
        }

        form h1 {
            width: 100%;
            text-align: center;
            margin-bottom: 2rem;
            font-family: 'Montserrat', sans-serif;
        }

        .form-group {
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 100%;
            padding: 0.5rem 0;
        }

        .form-group label {
            width: auto;
            margin-right: 1rem;
            text-align: right;
            padding-right: 1rem;
            font-weight: bold;
        }

        .form-group input[type="text"],
        .form-group textarea,
        .form-group select {
            width: calc(100% - 100px);
            flex-grow: 1;
            padding: 0.5rem;
            border-radius: 5px;
            border: 1px solid #ccc;
        }

        .file-upload {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 1rem 0;
        }

        .file-upload label {
            width: 100%;
            text-align: center;
            padding-bottom: 0.5rem;
            font-weight: bold;
        }

        .file-upload input[type="file"] {
            width: 100%;
            max-width: 500px;
            padding: 0.5rem;
            border-radius: 5px;
            border: 1px solid #000000;
        }

        input[type="submit"] {
            background-color: #0B4A4A;
            border: none;
            padding: 1rem;
            border-radius: 10px;
            cursor: pointer;
            margin-top: 1rem;
            color: #fff;
            font-weight: bold;
            transition: all .5s;
        }

        @media (max-width: 480px) {
            form {
                padding: 1rem;
                width: 90%;
            }

            input[type="submit"] {
                padding: 0.75rem;
            }
        }

        @media (max-width: 925px) {
            .form-group {
                flex-direction: column;
                align-items: flex-start;
            }

            .form-group label {
                width: 100%;
                text-align: left;
                padding-right: 0;
            }

            .form-group input[type="text"],
            .form-group textarea,
            .form-group select {
                width: 100%;
            }

            .file-upload label {
                text-align: left;
            }

            
        }

        #error-message.error {
            color: red;
            background-color: #ffdddd;
            padding: 10px;
            border: 1px solid red;
        }

        .alert-container {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 300px;
            margin: 0 auto;
            margin-bottom: 15px;
        }

        .alert {
            padding: 10px 15px;
            border-radius: 8px;
            text-align: center;
            font-weight: bold;
        }

        .alert-error {
            background-color: #f8d7da;
            border-color: #f5c6cb;
            color: #721c24;
        }

        .alert-success {
            background-color: #d4edda;
            border-color: #c3e6cb;
            color: #155724;
        }

        .alert-info {
            background-color: #cce5ff;
            border-color: #b8daff;
            color: #004085;
        }

        .alert-warning {
            background-color: #fff3cd;
            border-color: #ffeeba;
            color: #856404;
        }
    </style>
{% endblock %}