{% extends "layout.html" %}

{% block main_class %}container{% endblock %}

{% block content %}
    <div class="row">
        <h1>404 - Not found</h1>
        <h2>La receta buscada no existe</h2>
        <a href="{{ url_for('index') }}">Volver al inicio</a>
    </div>
{% endblock %}

{% block style %}
    <style>
        main {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 0;
            height: 59vh;
        }
        main .row {
            text-align: center;
        }
    </style>
{% endblock %}