<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../static/img/favicon.ico" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/d1ebd772a7.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Inicia sesión | Mil Recetas</title>
</head>

<body>
    <header>
        <div class="header-position">
            <div class="col-lg-3 col-8">
                <div class="logo">
                    <a href="{{ url_for('index') }}"><img src="../static/img/logo.webp" alt=""></a>
                </div>
            </div>
            <nav class="col-lg-6">
                <ul id="menu-list" class="nav">
                    <li><a href="{{ url_for('index') }}#veggie">Veggie</a></li>
                    <li><a href="{{ url_for('index') }}#trending">Tendencias</a></li>
                    <li><a href="{{ url_for('index') }}#postres">Postres</a></li>
                </ul>
            </nav>
            <div id="user-large" class="col-lg-3">
                <div class="user">
                    <i class="fa-regular fa-user"></i>
                    <a href="{{ url_for('login') }}">Ingresa a tu cuenta</a></div>
            </div>
            <div class="navbar-button col-4 col-lg-4">
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    <i class="fa-solid fa-bars"></i>
                </button>
            </div>
        </div>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar">
            <div class="offcanvas-header">
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li><a href="{{ url_for('index') }}#veggie">Veggie</a></li>
                    <li><a href="{{ url_for('index') }}#trending">Tendencias</a></li>
                    <li><a href="{{ url_for('index') }}#postres">Postres</a></li>
                </ul>
                <div class="user"><a class="text-md-white" href="{{ url_for('login') }}">Ingresa a tu cuenta</a></div>
            </div>
        </div>
    </header>

    <main>
        <div class="container">
            <h1 class="pages-title text-center my-4" id="preguntas-frecuentes">Preguntas Frecuentes</h1>
            <div class="container-forma">
                <h2 class="pregunta">¿Cómo puedes registrarte?</h2>
                <p class="respuesta">Sigue estos pasos para registrarte:</p>
                <ol>
                    <li>Haz clic en "Ingresa a tu cuenta" en la parte superior derecha de la página. Al final del formulario haz clic en en la opción de registro</li>
                    <li>Completa el formulario con un nombre de usuario, tu direccion de correo electrónico y una contraseña segura</li>
                    <li>Haz clic en "Crear una cuenta" para finalizar el proceso de registro</li>
                    <li>Recibirás un correo electrónico de confirmación, sigue las instrucciones en el correo para verificar tu cuenta</li>
                    <li>Una vez que hayas verificado tu cuenta, ya podrás ingresar a tu cuenta desde "Ingresa a tu cuenta"</li>
                </ol>
            </div>
            <div class="container-forma">
                <h2 class="pregunta">¿Cómo puedo recuperar mi contraseña?</h2>
                <p class="respuesta">Si olvidaste su contraseña, sigue estos pasos para recuperarla</p>
                <ol>
                    <li>Haz clic en "Ingresa a tu cuenta" en la parte superior derecha de la pagina</li>
                    <li>Haz clic en "¿Olvidaste tu contraseña?</li>
                    <li>Ingresa tu dirección de correo electrónico y haz clic en "Recuperar contraseña"</li>
                    <li>Recibiras un correo electrónico con un enlace para reestablecer tu contraseña. Haz clic en el enlace y sigue las instrucciones para crear una nueva contraseña</li>
                </ol>
            </div>
            <div class="container-forma">
                <h2 class="pregunta">¿Cómo puedo buscar una receta? </h2>
                <p class="respuesta">Puedes utilizar la barra de busqueda en la parte superior de la <a href="../index.html">página de inicio</a> para encontrar recetas por nombre, ingredientes o categorías.</p>
            </div>
            <div class="container-forma">
                <h2 class="pregunta">¿Cómo puedo guardar una receta?</h2>
                <p class="respuesta">Para guardar tus recetas favoritas, crea una cuenta e inicia sesión, luego haz clic en el icono de "guardar" en la receta que desees</p>
            </div>
            <div class="container-forma">
                <h2 class="pregunta">¿Cómo puedo dejar comentarios en las recetas?</h2>
                <p>Para dejar comentarios en una receta, crea una cuenta e inicia sesión. Luego desplazate hasta la sección de comentarios al final de la receta </p>
            </div>
            <div class="container-forma">
                <h2 class="pregunta">¿Cómo puedo contactarme con soporte?</h2>
                <p class="respuesta">Puedes contactarnos a traves de nuestro <a href="./contacto.html">formulario de contacto</a>, por correo electronico a <a href="mailto:soporte@milrecetas.com">soporte@milrecetas.com</a> o a nuestro Whastapp al +1 555-5555. </p>
            </div>
        </div>
    </main>

    <footer>
        <div class="footer-position">
            <div class="footer-section col-12 col-md-4">
                <h2>Contacto</h2>
                <ul class="contacto">
                    <li>
                        <i class="fa-brands fa-whatsapp fs-2 icon"></i>
                        <a href="#">WhatsApp</a>
                    </li>
                    <li>
                        <img src="../static/img/redes_sociales.webp" alt="Icono RRSS" class="icon">
                        <a href="#">Redes sociales</a>
                    </li>
                </ul>
            </div>
            <div class="footer-section col-12 col-md-4">
                <h2>Categorías</h2>
                <ul>
                    <li><a href="{{ url_for('index') }}#veggie">Veggie</a></li>
                    <li><a href="{{ url_for('index') }}#trending">Tendencias</a></li>
                    <li><a href="{{ url_for('index') }}#postres">Postres</a></li>
                </ul>
            </div>
            <div class="footer-section col-12 col-md-4">
                <h2>Conocenos</h2>
                <ul>
                    <li><a href="{{ url_for('contacto') }}">Contáctanos</a></li>
                    <li><a href="{{ url_for('nosotros') }}">Nosotros</a></li>
                    <li><a href="{{ url_for('faq') }}">Preguntas Frecuentes</a></li>
                </ul>
            </div>
        </div>
        <div class="copyright">
            <p>Copyright &copy; 2024 - Grupo 4 Codo a Codo (Full Stack Python)</p>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>