{% extends "layout.html" %}

{% block content %}
    <div class="container">
        <h1 class="pages-title fw-bold text-center my-4" id="preguntas-frecuentes">Preguntas frecuentes</h1>
        <div class="container-forma">
            <p class="pregunta">¿Cómo registrarme?</p>
            <p class="respuesta">Sigue estos pasos para registrarte:</p>
            <ol>
                <li>Haz clic en <a class="fw-bold text-black text-decoration-none" href="{{ url_for('registro') }}">Registro</a> en la parte superior derecha de la página.</li>
                <li>Completa el formulario con un nombre de usuario, tu email y una contraseña segura</li>
                <li>Haz clic en "Crear cuenta" para finalizar el proceso de registro</li>
                <li>Recibirás un correo electrónico de confirmación, sigue las instrucciones en el correo para verificar tu cuenta</li>
                <li>Una vez que hayas verificado tu cuenta, podrás ingresar a tu cuenta desde <a class="fw-bold text-black text-decoration-none" href="{{ url_for('login') }}">Ingresa</a></li>
            </ol>
        </div>
        <div class="container-forma">
            <p class="pregunta">¿Cómo recuperar mi contraseña?</p>
            <p class="respuesta">Si olvidaste tu contraseña, sigue estos pasos para recuperarla</p>
            <ol>
                <li>Haz clic en <a class="fw-bold text-black text-decoration-none" href="{{ url_for('login') }}">Ingresa</a> en la parte superior derecha de la pagina</li>
                <li>Haz clic en "¿Olvidaste tu contraseña?"</li>
                <li>Ingresa tu email y haz clic en "Recuperar contraseña"</li>
                <li>Recibiras un correo electrónico con un enlace para reestablecer tu contraseña. Haz clic en el enlace y sigue las instrucciones para crear una nueva contraseña</li>
            </ol>
        </div>
        <div class="container-forma">
            <p class="pregunta">¿Cómo buscar una receta? </p>
            <p class="respuesta">Puedes utilizar la barra de busqueda en la parte superior de la <a class="text-decoration-none text-black fw-bold" href="{{ url_for('index') }}">página de inicio</a> para encontrar recetas por nombre, ingredientes o categorías.</p>
        </div>
        <div class="container-forma">
            <p class="pregunta">¿Cómo guardar una receta?</p>
            <p class="respuesta">Para guardar tus recetas favoritas, crea una cuenta o inicia sesión, ingresa a la receta y haz click en en el botón "Guardar receta"</p>
        </div>
        <div class="container-forma">
            <p class="pregunta">¿Cómo comentar una receta?</p>
            <p>Para comentar una receta, crea una cuenta o inicia sesión, ingresa a la receta y dirígete a la sección "Comentarios"</p>
        </div>
        <div class="container-forma">
            <p class="pregunta">¿Cómo reportar errores o sugerir cambios?</p>
            <p class="respuesta">Reportar errores o sugerir cambios o mejoras es fundamental para el progreso del sítio. Dirigete al <a class="text-decoration-none text-black fw-bold" href="{{ url_for('contacto') }}">formulario de contacto</a> o contáctanos por email a <a class="text-decoration-none text-black fw-bold" href="mailto:soporte@milrecetas.com">soporte@milrecetas.com</a></p>
        </div>
    </div>
{% endblock %}

{% block style %}
    <style>
        .container-forma {
            width: 85%;
        }

        @media (max-width: 991px) {
            .container-forma {
                width: 95%;
            }
        }
    </style>
{% endblock %}