<footer>
    <div class="footer container-fluid">
        <div class="footerCenter row px-5 pt-3 text-white">
            <div class="footer-div d-flex justify-content-center justify-content-md-start col-xl col-md-12 col-sm-12 col-xl-3 col-lg-12 mb-4 mb-lg-4">
                <p>
                    <img class="logo" src="../static/img/logo.webp">
                </p>
            </div>
            <div class="footer-div d-flex flex-column align-items-center justify-content-center justify-content-md-start col-xl col-md-4 col-sm-12 col-xl-3 col-lg-4 mb-4 mb-lg-0">
                <p class="mb-2 text-style fw-bold">
                    Conocenos
                </p>
                <p class="p-footer">
                    <a class="text-decoration-none text-white" href="{{ url_for('nosotros') }}">Nosotros</a>
                </p>
                <p class="p-footer">
                    <a class="text-decoration-none text-white" href="{{ url_for('faq') }}">Preguntas frecuentes</a>
                </p>
            </div>
            <div class="footer-div d-flex flex-column align-items-center justify-content-center justify-content-md-start col-xl col-md-4 col-sm-12 col-xl-3 col-lg-4 mb-4 mb-lg-0">
                <p class="mb-2 text-style fw-bold">
                    Ayuda
                </p>
                <p class="p-footer">
                    <a class="text-decoration-none text-white" href="{{ url_for('contacto') }}">Contáctanos</a>
                </p>
                <p class="p-footer">
                    <a class="text-decoration-none text-white" href="mailto:atencion@milrecetas.com">atencion@milrecetas.com</a>
                </p>
            </div>
            <div class="footer-div d-flex flex-column align-items-center justify-content-center justify-content-md-start col-xl col-md-4 col-sm-12 col-xl-3 col-lg-4 mb-4 mb-lg-0">
                <p class="mb-2 text-style fw-bold">
                    Seguinos en nuestra redes sociales
                </p>
                <p class="p-footer">
                    <a class="text-decoration-none text-white" href="https://www.instagram.com">Instagram</a>
                </p>
                <p class="p-footer">
                    <a class="text-decoration-none text-white" href="https://www.facebook.com">Facebook</a>
                </p>
            </div>
            <div class="col-xs-12">
                <p class="text-center mt-3 text-style fw-bold">
                    Copyright &copy; 2024 | Héctor Guzmán
                </p>
            </div>
        </div>
    </div>
</footer>