{% extends "layout.html" %}

{% block content %}
    <div class="search-container d-flex justify-content-center align-items-center mt-5">
        <div class="buscador d-flex justify-content-center align-items-center">
            <div class="search">
                <input class="text-center" type="text" placeholder="Busca por nombre o ingrediente" id="user-input">
            </div>
        </div>
    </div>
    <div class="section d-flex justify-content-center flex-column mt-5">
        <div class="section-title section-content mb-3 text-sm-start" id="trending">
            <span class="text-black">Ahora en tendencias</span>
        </div>
        <div class="section-content">
            <ul class="recipe justify-content-md-start d-flex flex-wrap justify-content-center align-items-end">
                <li>
                    <a href="#">
                        <div class="recipe-photo">
                            <div class="pic_box">
                                <img src="../static/img/recetas/sopa_calabaza.webp" alt="">
                            </div>
                        </div>
                        <div class="recipe-description">
                            <p class="recipe-title">
                                Sopa de Calabaza
                            </p>
                            <p class="price">
                                Ver receta 
                                <i class="fa-solid fa-arrow-right"></i>
                            </p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="recipe-photo">
                            <div class="pic_box">
                                <img src="../static/img/recetas/ratatouille.jfif" alt="">
                            </div>
                        </div>
                        <div class="recipe-description">
                            <p class="recipe-title">
                                Ratatouille
                            </p>
                            <p class="price">
                                Ver receta 
                                <i class="fa-solid fa-arrow-right"></i>
                            </p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="recipe-photo">
                            <div class="pic_box">
                                <img src="../static/img/recetas/mila_soja.webp" alt="">
                            </div>
                        </div>
                        <div class="recipe-description">
                            <p class="recipe-title">
                                Milanesa de Soja
                            </p>
                            <p class="price">Ver receta 
                                <i class="fa-solid fa-arrow-right"></i>
                            </p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="recipe-photo">
                            <div class="pic_box">
                                <img src="../static/img/recetas/ojo_de_bife.webp" alt="">
                            </div>
                        </div>
                        <div class="recipe-description">
                            <p class="recipe-title">
                                Ojo de Bife
                            </p>
                            <p class="price">Ver receta 
                                <i class="fa-solid fa-arrow-right"></i>
                            </p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="recipe-photo">
                            <div class="pic_box">
                                <img src="../static/img/recetas/pastel_de_papa.webp" alt="">
                            </div>
                        </div>
                        <div class="recipe-description">
                            <p class="recipe-title">
                                Pastel de papa
                            </p>
                            <p class="price">Ver receta 
                                <i class="fa-solid fa-arrow-right"></i>
                            </p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="recipe-photo">
                            <div class="pic_box">
                                <img src="../static/img/recetas/pollo_al_horno.webp" alt="">
                            </div>
                        </div>
                        <div class="recipe-description">
                            <p class="recipe-title">
                                Pollo al horno
                            </p>
                            <p class="price">Ver receta 
                                <i class="fa-solid fa-arrow-right"></i>
                            </p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="recipe-photo">
                            <div class="pic_box">
                                <img src="../static/img/recetas/lemon_pie.webp" alt="">
                            </div>
                        </div>
                        <div class="recipe-description">
                            <p class="recipe-title">
                                Lemon Pie
                            </p>
                            <p class="price">Ver receta 
                                <i class="fa-solid fa-arrow-right"></i>
                            </p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="recipe-photo">
                            <div class="pic_box">
                                <img src="../static/img/recetas/peras_al_vino.webp" alt="">
                            </div>
                        </div>
                        <div class="recipe-description">
                            <p class="recipe-title">
                                Peras al vino
                            </p>
                            <p class="price">Ver receta 
                                <i class="fa-solid fa-arrow-right"></i>
                            </p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="recipe-photo">
                            <div class="pic_box">
                                <img src="../static/img/recetas/red_velvet.webp" alt="">
                            </div>
                        </div>
                        <div class="recipe-description">
                            <p class="recipe-title">
                                Red Velvet Cake
                            </p>
                            <p class="price">Ver receta 
                                <i class="fa-solid fa-arrow-right"></i>
                            </p>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}