<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../static/img/favicon.ico" type="image/x-icon"> 
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/d1ebd772a7.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Mi perfil | MilRecetas</title>
</head>
<body>
    <header>
        <div class="header-position">
            <div class="col-lg-3 col-8">
                <div class="logo">
                    <a href="{{ url_for('index') }}"><img src="../static/img/logo.webp" alt=""></a>
                </div>
            </div>
            <nav class="col-lg-6">
                <ul id="menu-list" class="nav">
                    <li><a href="{{ url_for('mostrar_recetas') }}">Recetas</a></li>
                    <li><a href="{{ url_for('index') }}#trending">Tendencias</a></li>
                    <li><a href="{{ url_for('crear_receta') }}">Crear receta</a></li>
                </ul>
            </nav>
            <div id="user-large" class="col-lg-3">
                {% if current_user.is_authenticated %}
                    <div class="user">
                        <i class="fa-regular fa-user"></i>
                        <a href="{{ url_for('profile') }}">Mi perfil</a>
                    </div>
                    <div class="user">
                        <a href="{{ url_for('logout') }}">Cerrar sesión</a>
                    </div>
                {% else %}
                    <div class="user">
                        <i class="fa-regular fa-user"></i>
                        <a href="{{ url_for('login') }}">Ingresa a tu cuenta</a>
                    </div>
                {% endif %}
            </div>
            <div class="navbar-button col-4 col-lg-4">
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    <i class="fa-solid fa-bars"></i>
                </button>
            </div>
        </div>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar">
            <div class="offcanvas-header">
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li><a href="{{ url_for('mostrar_recetas') }}">Recetas</a></li>
                    <li><a href="{{ url_for('index') }}#trending">Tendencias</a></li>
                    <li><a href="{{ url_for('crear_receta') }}">Crear receta</a></li>
                </ul>
                <div class="user"><a class="text-md-white" href="{{ url_for('login') }}">Ingresa a tu cuenta</a></div>
            </div>
        </div>
    </header>

    <main class="container">
        <div class="row">
            <div class="col-lg-4 col-md-12 mb-4">
                <h2 class="text-center">Mi Perfil</h2>

                <p class="text-center"><strong>Nombre de usuario:</strong> {{ nombre_usuario }}</p>
                <p class="text-center"><strong>Email:</strong> {{ email }}</p>
            </div>

            <div class="col-lg-4 col-md-12 mb-4">
                <h2 class="text-center">Mis Recetas</h2>
                <ul class="recipe">
                    {% for receta in recetas %}
                            <li>
                                <a href="{{ url_for('ver_receta', id_receta=receta.id_receta) }}">
                                    <div class="recipe-description">
                                        <p class="recipe-title">{{ receta.nombre_receta }}</p>
                                        <p class="price">Ver receta</p>
                                    </div>
                                </a>
                                <button onclick="confirmarEliminacion('{{ receta.id_receta }}')">Eliminar esta receta</button>
                            </li>
                    {% endfor %}
                </ul>
            </div>

            <div class="col-lg-4 col-md-12 mb-4">
                <h2 class="text-center">Mis recetas guardadas</h2>
                <ul class="recipe">
                    {% if recetas_guardadas %}
                        {% for receta_guardada in recetas_guardadas %}
                            <li>
                                <a href="{{ url_for('ver_receta', id_receta=receta_guardada.id_receta) }}">
                                    <div class="recipe-description">
                                        <p class="recipe-title">{{ receta_guardada.nombre_receta }}</p>
                                        <p class="price">Ver receta</p>
                                    </div>
                                </a>
                            </li>
                        {% endfor %}
                    {% else %}
                            <p>No tienes recetas guardadas</p>
                    {% endif %}
                </ul>
            </div>
        </div>
    </main>

    <footer>
        <div class="footer-position">
            <div class="footer-section col-12 col-md-4">
                <h2>Contacto</h2>
                <ul class="contacto">
                    <li>
                        <i class="fa-brands fa-whatsapp fs-2 icon"></i>
                        <a href="#">WhatsApp</a>
                    </li>
                    <li>
                        <img src="../static/img/redes_sociales.webp" alt="Icono RRSS" class="icon">
                        <a href="#">Redes sociales</a>
                    </li>
                </ul>
            </div>
            <div class="footer-section col-12 col-md-4">
                <h2>Categorías</h2>
                <ul>
                    <li><a href="{{ url_for('index') }}#veggie">Veggie</a></li>
                    <li><a href="{{ url_for('index') }}#trending">Tendencias</a></li>
                    <li><a href="{{ url_for('index') }}#postres">Postres</a></li>
                </ul>
            </div>
            <div class="footer-section col-12 col-md-4">
                <h2>Conocenos</h2>
                <ul>
                    <li><a href="{{ url_for('contacto') }}">Contáctanos</a></li>
                    <li><a href="{{ url_for('nosotros') }}">Nosotros</a></li>
                    <li><a href="{{ url_for('faq') }}">Preguntas Frecuentes</a></li>
                </ul>
            </div>
        </div>
        <div class="copyright">
            <p>Copyright &copy; 2024 - Grupo 4 Codo a Codo (Full Stack Python)</p>
        </div>
    </footer>

    <script>
        function confirmarEliminacion(id_receta) {
            if (confirm("¿Estás seguro de que quieres eliminar esta receta?")) {
                fetch(`/borrar/${id_receta}`, { method: 'POST' })
                    .then(response => {
                        if (!response.ok) {
                            throw new Error("Error al eliminar la receta.");
                        }
                        location.reload();
                    })
                    .catch(error => {
                        alert(error);
                    });
            }
        }
    </script>

    <style>
        .recipe li {
            flex-direction: column;
            height: 200px;
        }

        .recipe li button {
            margin: 0;
            background-color: #0B4A4A;
            color: white;
            border: 2px solid #ffa7e4;
            border-radius: 0;
        }
    </style>
</body>
</html>