{% extends "layout.html" %}

{% block main_class %}container-fluid{% endblock %}

{% block content %}
    <div class="row full-height">
        <div class="col-lg-3 col-md-12 mb-4 d-flex flex-column align-items-center">
            <div class="column d-flex align-items-center flex-column">
                <p class="text-center fw-bold fs-5">Datos de la cuenta</p>
                <p class="text-center"><strong>Nombre de usuario:</strong> {{ nombre_usuario }}</p>
                <p class="text-center"><strong>Email:</strong> {{ email }}</p>
                <br>
                <a href="#" class="boton-cambiar text-center">Cambiar contraseña</a>
                <a href="#" class="boton-eliminar text-center">Eliminar cuenta</a>
            </div>
        </div>

        <div class="col-lg-9 col-md-12 d-flex flex-column">
            <div class="column half-height row">
                <p class="text-center fw-bold fs-3">Tus recetas</p>
                <div class="recipe-container">
                    <ul class="recipe d-flex flex-wrap justify-content-center align-items-center">
                        {% if recetas %}
                            {% for receta in recetas %}
                            <li class="col-12 col-md-6 col-lg-4 col-xl-3">
                                <div class="recipe-description">
                                    <p class="recipe-title">{{ receta.nombre_receta }}</p>
                                    <p class="price correct">
                                        <a href="{{ url_for('ver_receta', id_receta=receta.id_receta) }}">Ver receta</a>
                                    </p>
                                    <p class="price">
                                        <a class="boton-eliminar" href="{{ url_for('eliminar_receta', id_receta=receta.id_receta) }}">Eliminar</a>
                                    </p>
                                </div>
                            </li>
                            {% endfor %}
                        {% else %}
                            <p class="text-center">No tienes recetas creadas <br> <a href="{{ url_for('crear_receta') }}">Ingresa aquí para crear una</a></p>
                        {% endif %}
                    </ul>
                </div>
            </div>
            <div class="column half-height row">
                <p class="text-center fw-bold fs-3">Recetas guardadas</p>
                <div class="recipe-container">
                    <ul class="recipe d-flex flex-wrap justify-content-center align-items-center">
                        {% if recetas_guardadas %}
                            {% for receta_guardada in recetas_guardadas %}
                                <li class="col-12 col-md-6 col-lg-4 col-xl-3">
                                    <a href="{{ url_for('ver_receta', id_receta=receta_guardada.id_receta) }}">
                                        <div class="recipe-description">
                                            <p class="recipe-title">{{ receta_guardada.nombre_receta }}</p>
                                            <p class="price">Ver receta</p>
                                        </div>
                                    </a>
                                </li>
                            {% endfor %}
                        {% else %}
                                <p class="text-center">No tienes recetas guardadas <br> <a href="{{ url_for('mostrar_recetas') }}">Ingresa aquí para ver todas las recetas</a></p>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block style %}
    <style>
        .column {
            background-color: #fff;
            padding: 20px;
            margin: 10px 0;
            border: 1px solid #ccc;
            border-radius: 8px;
            height: auto;
        }

        .full-height {
            height: calc(100% - 2rem); /* Altura de la ventana menos márgenes */
        }

        .half-height {
            height: auto; /* Mitad de la altura del contenedor padre */
        }

        body {
            display: flex;
            flex-direction: column;
            height: 100vh;
            margin: 0;
        }

        main {
            flex: 1;
            margin: 1rem 0;
        }

        @media (max-width: 768px) {
            main {
                margin-top: 6rem;
            }
        }

        .recipe-description .correct a {
            border: 0px;
            color: white;
        }

        .recipe-description .correct a:hover {
            text-decoration: underline;
        }

        .price {
            width: 95%;
        }

        .price a{
            text-align: center;
        }

        .recipe li {
            flex-direction: column;
            height: 200px;
        }

        .recipe-description {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 10px;
            border: 1px solid #ddd;
            border-radius: 5px;
        }

        .recipe-item {
            flex: 1 1 100%; /* Ocupa el 100% del ancho en pantallas pequeñas */
            max-width: calc(100% - 15px); /* Ajusta el ancho máximo en función del espacio disponible */
        }

        .recipe-description a {
            margin-right: 10px;
        }

        .boton-eliminar {
            background-color: #dc3545;
            color: white;
            padding: 8px 15px;
            border: 2px solid var(--color-primario);
            border-radius: 15px;
            text-decoration: none;
            width: 85%;
            font-weight: bold;
        }

        .boton-cambiar {
            background-color: cadetblue;
            color: white;
            padding: 8px 15px;
            border: 2px solid lightblue;
            border-radius: 15px;
            text-decoration: none;
            width: 85%;
            font-weight: bold;
        }

        .recipe {
            list-style: none;
            padding: 0;
            gap: 15px;
        }

        .recipe li {
            margin-bottom: 15px;
        }

        .recipe-container {
            overflow-x: auto;
            padding: 0 15px;
        }

        @media (min-width: 576px) {
            .recipe-item {
                flex: 1 1 calc(50% - 15px); /* Ocupa la mitad del ancho en pantallas pequeñas */
            }
        }

        @media (min-width: 768px) {
            .recipe-item {
                flex: 1 1 calc(33.333% - 15px); /* Ocupa un tercio del ancho en pantallas medianas */
            }
        }

        @media (min-width: 992px) {
            .recipe-item {
                flex: 1 1 calc(25% - 15px); /* Ocupa un cuarto del ancho en pantallas grandes */
            }
        }
    </style>
{% endblock %}
