{% extends "layout.html" %}

{% block main_class %}container{% endblock %}

{% block content %}
    <div class="d-flex justify-content-center py-5">
        <form action="/registro" method="POST">
            <div class="d-flex flex-column">
                <p class="text-center fw-bold fs-3">Registrate</p>
                <input type="text" placeholder="Nombre de usuario" name="nombre_usuario" id="username-input" required>
                <input type="email" placeholder="Email" name="email" id="email-input" required>
                <input type="password" placeholder="Contraseña" name="password" id="password-input" required>
                <input type="password" placeholder="Confirma tu contraseña" name="confirm" id="confirm-input" required>
                <button id="register-button" type="submit">Crear cuenta</button>
                <p class="text-center">¿Ya tienes una cuenta? <a class="fw-bold text-decoration-none text-black" href="{{ url_for('login') }}">Ingresa</a></p>
            </div>
        </form>
    </div>
{% endblock %}

{% block scripts %}
    <script src="../static/js/validacion_registro.js"></script>
{% endblock %}

{% block style %}
    <style>
        body {
            display: flex;
            flex-direction: column;
            height: 100vh;
        }

        main {
            flex: 1;
        }

        form {
            box-shadow: none;
            padding: 25px;
        }

        form input {
            margin-top: 0.7rem;
            height: 35px;
            border-radius: 5px;
            border: 1px solid lightgray;
        }

        form button {
            background-color: #0b4a4a;
            border: none;
            padding: 7px;
            color: white;
            font-weight: bold;
            margin-left: 0;
        }
    </style>
{% endblock %}
