{% extends "layout.html" %}

{% block main_class %}container mt-4{% endblock %}
    
{% block content %}
    <div class="row">
        <div class="col-md-6 col-12">
            <div class="pic-container">
                <img src="{{ url_for('static', filename='uploads/recetas/' + receta.ruta_imagen)}}" alt="">
            </div>
            <h2 class="text-center">{{ receta.nombre_receta }}</h2>
            <p><strong>Subida por:</strong> {{ receta.autor }}</p>
            <p><strong>Descripción:</strong> {{ receta.descripcion }}</p>
        </div>

        <div class="col-md-6 col-12">
            {% if current_user.is_authenticated %}
                <button id="guardar-receta" class="{% if receta_guardada %}guardada{% endif %} text-white" data-id="{{ receta.id_receta }}">
                    {% if receta_guardada %}Guardada{% else %}Guardar Receta{% endif %}
                </button>
            {% endif %}

            {% if es_autor %}
                <a href="{{ url_for('editar_receta', id_receta=receta.id_receta) }}" class="text-decoration-none">
                    <button class="text-white">Editar Receta</button> 
                </a>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        document.getElementById('guardar-receta').addEventListener('click', function() {
            const recetaId = this.dataset.id;
            fetch(`/guardar_receta/${recetaId}`, { method: 'POST' })
                .then(response => response.json())
                .then(data => {
                    this.classList.toggle('guardada', data.guardada);
                    this.textContent = data.guardada ? 'Guardada' : 'Guardar Receta';
                });
        });
    </script>
{% endblock %}

{% block style %}
    <style>
        body {
            display: flex;
            flex-direction: column;
            height: 100vh;
        }

        main {
            flex: 1;
        }

        button {
            background-color: #0b4a4a;
            border: none;
            padding: 7px;
            color: white;
            font-weight: bold;
            margin-left: 0;
        }
        
        .pic-container {
            border-radius: 30px;
            border: 2px solid black;
        }

        .pic-container img {
            border-radius: 30px;
        }

        button {
            margin: 0.5rem 0;
            height: 2.5rem;
            width: 11rem;
        }
    </style>
{% endblock %}