<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../static/img/favicon.ico" type="image/x-icon"> 
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/d1ebd772a7.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../../static/css/style.css">
    <title>{{ receta.nombre_receta }} | MilRecetas</title>
</head>
<body>
    <header>
        <div class="header-position d-flex align-items-center justify-content-between flex-row">
            <div class="col-lg-3 col-8 logo-container">
                <div class="logo">
                    <a href="{{ url_for('index') }}"><img src="../static/img/logo.webp" alt=""></a>
                </div>
            </div>
            <nav class="col-lg-6 d-flex justify-content-center">
                <ul id="menu-list" class="nav">
                    <li><a class="text-decoration-none text-black fw-bold" href="{{ url_for('mostrar_recetas') }}">Recetas</a></li>
                    <li><a class="text-decoration-none text-black fw-bold" href="{{ url_for('index') }}#trending">Tendencias</a></li>
                    <li><a class="text-decoration-none text-black fw-bold" href="{{ url_for('crear_receta') }}">Crear receta</a></li>
                </ul>
            </nav>
            <div id="user-large" class="col-lg-3">
                {% if current_user.is_authenticated %}
                    <div class="user">
                        <i class="fa-regular fa-user"></i>
                        <a class="fw-bold text-decoration-none fs-5 text-white" href="{{ url_for('profile') }}">Mi perfil</a>
                    </div>
                    <div class="user">
                        <a class="fw-bold text-decoration-none fs-5 text-white" href="{{ url_for('logout') }}">Cerrar sesión</a>
                    </div>
                {% else %}
                    <div class="user">
                        <i class="fa-regular fa-user"></i>
                        <a class="fw-bold text-decoration-none fs-5 text-white" href="{{ url_for('login') }}">Ingresá a tu cuenta</a>
                    </div>
                {% endif %}
            </div>
            <div class="navbar-button col-4 col-lg-4 d-flex justify-content-end">
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    <i class="fa-solid fa-bars"></i>
                </button>
            </div>
        </div>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar">
            <div class="offcanvas-header">
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li><a class="text-black text-decoration-none fw-bold fs-4" href="{{ url_for('mostrar_recetas') }}">Recetas</a></li>
                    <li><a class="text-black text-decoration-none fw-bold fs-4" href="{{ url_for('index') }}#trending">Tendencias</a></li>
                    <li><a class="text-black text-decoration-none fw-bold fs-4" href="{{ url_for('crear_receta') }}">Crear receta</a></li>
                </ul>
                {% if current_user.is_authenticated %}
                    <div class="user">
                        <a class="fw-bold text-decoration-none fs-5 text-white" href="{{ url_for('profile') }}">Mi perfil</a>
                    </div>
                    <div class="user">
                        <a class="fw-bold text-decoration-none fs-5 text-white" href="{{ url_for('logout') }}">Cerrar sesión</a>
                    </div>
                {% else %}
                    <div class="user">
                        <a class="fw-bold text-decoration-none fs-5 text-white" href="{{ url_for('login') }}">Ingresá a tu cuenta</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </header>

    <main class="container mt-4">
        <div class="row">
            <div class="col-md-6 col-12">
                <div class="pic-container">
                    <img src="{{ url_for('static', filename='uploads/recetas/' + receta.ruta_imagen)}}" alt="">
                </div>
                <h2 class="text-center">{{ receta.nombre_receta }}</h2>
                <p><strong>Subida por:</strong> {{ receta.autor }}</p>
                <p><strong>Descripción:</strong> {{ receta.descripcion }}</p>
            </div>
    
            <div class="col-md-6 col-12">
                {% if current_user.is_authenticated %}
                    <button id="guardar-receta" class="{% if receta_guardada %}guardada{% endif %} text-white" data-id="{{ receta.id_receta }}">
                        {% if receta_guardada %}Guardada{% else %}Guardar Receta{% endif %}
                    </button>
                {% endif %}
    
                {% if es_autor %}
                    <a href="{{ url_for('editar_receta', id_receta=receta.id_receta) }}" class="text-decoration-none">
                        <button class="text-white">Editar Receta</button> 
                    </a>
                {% endif %}
            </div>
        </div>
    </main>

    <script>
        document.getElementById('guardar-receta').addEventListener('click', function() {
            const recetaId = this.dataset.id;
            fetch(`/guardar_receta/${recetaId}`, { method: 'POST' })
                .then(response => response.json())
                .then(data => {
                    this.classList.toggle('guardada', data.guardada);
                    this.textContent = data.guardada ? 'Guardada' : 'Guardar Receta';
                });
        });
    </script>

    <footer>
        <div class="footer container-fluid">
            <div class="footerCenter row px-5 pt-3 text-white">
                <div class="footer-div col-xl col-md-12 col-sm-12 col-xl-3 col-lg-12 mb-4 mb-lg-4">
                    <p>
                        <img class="logo" src="../static/img/logo.webp">
                    </p>
                </div>
                <div class="footer-div col-xl col-md-4 col-sm-12 col-xl-3 col-lg-4 mb-4 mb-lg-0">
                    <p class="mb-2 text-style">
                        Conocenos
                    </p>
                    <p class="p-footer">
                        <a class="text-decoration-none text-white" href="{{ url_for('nosotros') }}">Nosotros</a>
                    </p>
                    <p class="p-footer">
                        <a class="text-decoration-none text-white" href="{{ url_for('faq') }}">Preguntas frecuentes</a>
                    </p>
                </div>
                <div class="footer-div col-xl col-md-4 col-sm-12 col-xl-3 col-lg-4 mb-4 mb-lg-0">
                    <p class="mb-2 text-style">
                        Ayuda
                    </p>
                    <p class="p-footer">
                        <a class="text-decoration-none text-white" href="{{ url_for('contacto') }}">Contactanos</a>
                    </p>
                    <p class="p-footer">
                        <a class="text-decoration-none text-white" href="mailto:atencion@milrecetas.com">atencion@milrecetas.com</a>
                    </p>
                </div>
                <div class="footer-div col-xl col-md-4 col-sm-12 col-xl-3 col-lg-4 mb-4 mb-lg-0">
                    <p class="mb-2 text-style">
                        Seguinos en nuestra redes sociales
                    </p>
                    <p class="p-footer">
                        <a class="text-decoration-none text-white" href="https://www.instagram.com">Instagram</a>
                    </p>
                    <p class="p-footer">
                        <a class="text-decoration-none text-white" href="https://www.facebook.com">Facebook</a>
                    </p>
                </div>
                <div class="col-xs-12">
                    <p class="text-center mt-3 text-style">
                        Copyright &copy; 2024 | Héctor Guzmán
                    </p>
                </div>
            </div>
        </div>
    </footer>

    <style>
        .pic-container {
            border-radius: 30px;
            border: 2px solid black;
        }

        .pic-container img {
            border-radius: 30px;
        }

        button {
            margin: 0.5rem 0;
            height: 2.5rem;
            width: 11rem;
        }
    </style>
</body>
</html>