/* Derechos reservados al Grupo 4 : Jorge Ceballos, Héctor Salvador Guzmán, Bárbara Marisol Garro */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    position: relative;
    overflow-x: hidden; 
    overflow-y: auto;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/fondo2.webp);
    opacity: 0.1;
    z-index: -1; 
}

/* HEADER */

header{
    background-image: url(../img/fondodis.webp);
    background-position: center;
    width: 100%;
    padding: 0;
    margin: 0 auto;
    padding: 0 1.5rem;
}

.header-position {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.offcanvas-body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/fondo2.webp);
    opacity: 0.1;
    z-index: -1; 
}

.offcanvas-body ul li a {
    color: black;
    text-decoration: none;
    font-weight: 700;
    font-size: 1.5rem;
}

.logo{
    max-width: 235px;
}

.logo img{
    width: 100%;
}

/* NAVBAR */

nav {
    display: flex;
    justify-content: center;
}

nav ul li {
    padding: 0 .5rem;
}

nav ul li a{
    padding: 10px 20px;
    color: black;
    border-radius: 20px;
    background-color: #ffa7e4;
    transition: all .5s;
    text-decoration: none;
    font-weight: 700;
}

nav a:hover{
    color: #fff;
    background-color: #008ecc;
}

.navbar-button {
    display: flex;
    justify-content: end;
}

/* FIN NAVBAR */

.user-responsive {
    display: none;
}

.user a{
    position: relative;
    font-weight: 700;
    text-decoration: none;
    color: white;
    font-size: 1.25rem;
}

.user a:hover {
    text-decoration: underline;
}

.user i {
    color: white;
    font-size: 1.25rem;
    padding-right: .5rem;
}

#user-large {
    text-align: right;
}

/* FIN HEADER */

/* MAIN */

main {
    max-width: 1140px;
    width: 100%;
    padding: 15px;
    margin: 0 auto 3rem auto;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}

.buscador {
    border: 2px solid black;
    height: 7rem;
    border-radius: 40px;
    width: 512px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search{
    position: relative;
    height: 40px;
    width: 95%;
}

.search input{
    width: 100%;
    height: 100%;
    font-size: 16px;
    border-radius: 8px;
    text-align: center;
}

.search::before{
    position: absolute;
    content: '';
    display: block;
    width: 25px;
    height: 25px;
    top:8px;
    left: 6px;
    background: url(../img/search.webp) no-repeat;
    background-size: contain;
}

.section {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.section-title {
    margin-bottom: 1rem;
}

.section-content {
    margin: 1rem 3rem 0 3rem;
}

.section-title i {
    color: #166080;
    font-size: 24px;
    font-weight: 600;
}

.section-title span {
    position: relative;
    color: black;
    font-size: 24px;
    font-weight: 600;
}

.section-title span::after {
    content: '';
    position: absolute;
    display: block;
    bottom: -5px;
    left: 0;
    width: 99%;
    height: 5px;
    border-radius: 5px;
    background-color: #166080;
}

.recipe {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: end;
}

.recipe li {
    display: flex;
    margin: 18px 5px;
    width: 225px;
    height: 295px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 8px 5px 2px 1px #000000;
}

.recipe li a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    flex: 1;
    width: 100%;
    border: 2px solid #ffa7e4;
    border-radius: 15px;
}

.recipe-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 180px;
    overflow: hidden;
    border-radius: 15px 15px 0 0;
}

.recipe-photo img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    vertical-align: middle;
}


.recipe-description {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: white;
    flex: 1;
    font-weight: 600;
    padding: 0 12px;
    background-color: #0B4A4A;
}

.recipe-title {
    font-size: 1.25rem;
    text-decoration: none;
}

.recipe-title,
.previous_price,
.price {
    flex: 1;
    padding-top: 8px;
}

.price {
    border-top: 2px solid white;
    color: white;
}

/* FIN MAIN*/

/* FOOTER */

footer {
    background-color: #0B4A4A;
    color: #fc92dc;
    width: 100%;
    padding: 0;
    margin: 0 auto;
}

.footer-position {
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
}

.footer-section {
    text-align: center;
    padding: 0 3rem;
}

.footer-section h2 {
    font-size: 23px;
}

.footer-section ul {
    font-size: 15px;
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 5px;
}

.footer-section ul li a {
    color: white;
    text-decoration: none;
}

.footer-section ul li a:hover {
    text-decoration: underline;
}

.footer-section .icon {
    width: 35px;
    height: auto;
    margin-right: 5px;
    vertical-align: middle;
}

.copyright{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem 0;
    border-top: 1px solid #fc92dc;
}

.copyright p{
    font-size: 20px;
    color: #fff;
}

/* FIN FOOTER */

/* NOSOTROS */

.title_ubi {
    font-size: 50px;
    text-align: center;
    margin: 1.5rem 0;
}

.text-block, .image-block {
    flex: 1;
}

.text-block {
    text-align: center;
    padding: 1.5rem;
    background-color: #acdfe2;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    overflow: auto;
    font-weight: bold;
    border-radius: 40px;
}

.image-block {
    width: 5%;
    text-align: center;
    padding: 1.5rem;
}

.image-block img {
    max-width: 80%;
    height: auto;
    max-height: 200px;
    border-radius: 40px;
}

img {
    width: 100%;
    height: auto;
}

.map-container {
    display: flex;
    justify-content: center;
}

.map{
    width: 90%;
    height: 85vh;
    display: flex;
    justify-content: center;
}

.bar {
    display: flex;
    justify-content: center;
}

.bar-img {
    margin: 0 10px;
    position: relative;
    transition: transform 0.3s ease;
    text-align: center;
}

.bar-img:hover {
    transform: scale(1.1);
}

.nosotros_logo,
.lugar_logo {
    width: 100px;
    height: auto;
    display: block;
    margin: auto;
}

.title {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 20px;
}

.title_nos {
    font-size: 50px;
    text-align: center;
    margin: 1.5rem 0;
}

.info-row {
    display: flex;
    align-items: center;
    margin-bottom: 3rem;
}

.info-reverse-row {
    flex-direction: row-reverse;
    display: flex;
    align-items: center;
    margin-bottom: 3rem;
}

/* FIN NOSOTROS */

/* FORMULARIOS */

.login {
    display: flex;
    justify-content: center;
    padding: 3rem 0;
}

form .container {
    display: flex;
    flex-direction: column;
}

form {
    background-color: #fc92dc;
    box-shadow: 1px 1px 5px 5px gray;
    width: 330px;
    padding: 4rem 2rem;
    border-radius: 10px;
}

label {
    padding-bottom: 0.5rem;
}

input::placeholder {
    font-size: 0.97rem;
    padding: 0 0.2rem;
}

.password {
    padding-bottom: 0.5rem;
}

button {
    margin: 1rem 0;
}

form .container h3 {
    padding-bottom: 1.5rem;
}

#formulario {
    display: flex;
    flex-direction: column;
    width: 80%;
    background-color: #fc92dc;
    padding: 10px;
    border-radius: 5px;
}

#formulario input[type="text"], #formulario input[type="email"], #formulario input[type="tel"], #formulario textarea {
    display: block;
    padding: 10px;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    display: block;
    margin-bottom: 10px;
    background-color: #64b5b6;
    margin: 1rem 0;
    border-radius: 10px;
    padding: 0 1rem;
}

.pages-title {
    font-size: 2.8rem;
}

.aceptar {
    display: flex;
    align-items: center;
}

.aceptar label {
    margin-left: 0.5rem;
}

#error-message {
    color: #910000;
    font-weight: bolder;
}

/* FIN FORMULARIOS */

/* FAQ */

.container-forma{
    margin: 50px auto;
    width: 70%;
    background-color: #ffd1dc;
    padding: 20px;
    border-radius: 10px;
}

.container-forma ol {
    padding-left: 2rem;
}

/* FIN FAQ*/

.fa-bars {
    font-size: 2rem;
    color: white;
}

p {
    margin-bottom: 0;
}

ul, ol, dl {
    padding-left: 0;
    margin-bottom: 0;
    margin-top: 0;
}

/* CARGAR RECETAS */

.carga-receta {
    display: flex;
    justify-content: center;
}

.carga-receta form {
    width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

/* FIN CARGAR RECETAS */

/* MEDIA QUERIES */

@media (max-width: 768px) {
    header {
        position: fixed;
        top: 0;
        z-index: 1;
    }
    
    nav {
        width: 100%;
    }

    nav ul {
        justify-content: center;
    }

    .user {
        justify-content: center;
    }

    main {
        margin-top: 6rem;
    }

    .recipe li {
        transition: none;
    }

    .recipe li:hover{
        transform: none;
    }

    .footer-section {
        padding: 0.5rem 0;
    }

    .text-block, .image-block {
        width: 100%;
    }

    .image-block img {
        width: 100%;
        height: auto;
    }

    img {
        max-width: 100%;
    }

    .info-reverse-row, .info-row {
        flex-direction: column;
    }
}

@media (max-width: 991px) {
    nav {
        display: none;
    }

    #user-large {
        display: none;
    }

    .user {
        margin-top: 10px;
    }

    .user a {
        color: black;
        font-size: 1.5rem;
    }

    .user a:before {
        display: none;
    }
}

@media (min-width: 992px) {
    .navbar-toggler {
        display: none;
    }

    .offcanvas-end {
        display: none;
    }
}

@media (min-width: 768px) {
    main {
        padding: 0 32px;
    }

    .footer-position {
        flex-direction: row;
    }

    .footer-section {
        text-align: start;
    }
}

@media (min-width: 1200px) {
    main {
        max-width: 960px;
    }
}

@media (min-width: 1400px) {
    main {
        max-width: 1140px;
    }
}

@media (max-width:633px){
    .section-content ul {
        margin-top: 1rem;
    }
}

@media (max-width: 400px) {
    .search-container {
        margin-top: 1.5rem;
    }
}

@media (max-width: 420px) {
    .pages-title {
        font-size: 2.5rem;
    }
    
    .aceptar label {
        font-size: 0.8rem;
    }
}

/* FIN MEDIA QUERIES */